<!DOCTYPE html>
<html>
    <head>
        <link href="style.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <h1>Layout Task</h1>
        <footer>
            <div id="logo_section">
                <img src="../logo.png"/>
                <p>A II. János Pál cserkészcsapat a Magyar Cserkészszövetség tagja</p>
            </div>
            <div id="sitemap">
                <p id="header">OLDALAK</p>
                <p class="link">Rólunk</p>
                <p class="link">Őrsök</p>
                <p class="link">Blog</p>
                <p class="link">Események</p>
                <p class="link">Kapcsolat</p>
            </div>
         </footer>
    </body>
</html>
