body {
    background: gray;
    margin: 0;
}

nav {
    background-color: whitesmoke;
    width: 100%;
    display: block;
    text-align: center;
    position: sticky;
    top: 0;
    left: 0;
}

header {
    width: 100%;
    background-color: whitesmoke;
    text-align: center;
}

nav img {
    position: relative;
}

div {
    display: flex;
    width: 100%;
    justify-content: center;
}

div p {
    padding: 0 20px;
    font-weight: bold;
    font-size: 20px;
}

p {
    font-size: 200px;
}