<html>
    <head>
        <link href="style.css" rel="stylesheet" type="text/css"/>
        <title>Menu layout</title>
    </head>
    <body>
        <header>
            <img src="../logo.png"/>
        </header>
        <nav>
            <div>
                <p>FŐOLDAL</p>
                <p>LABORJAINK</p>
                <p>CANSATLAB EGYETEM</p>
                <p>BLOG</p>
                <p>KAPCSOLAT</p>
            </div>
        </nav>
        <p>
            ffff
        </p>
        <p>
            ffff
        </p>
        <p>
            ffff
        </p>
        <p>
            ffff
        </p>
        <p>
            ffff
        </p>
    </body>
</html>
